<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyBuddy - Find study partners around the world!</title>

    <style>
        div {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    </style>
</head>
<body>
    <div>
        <a href="">
            <h1>StudyBuddy</h1>
        </a>
        <form method="GET" action="">
            <input type="text" name="q" placeholder="Search Rooms...">
        </form>
        <a href="">
            <p>Login</p>
        </a>
    </div>
</body>
</html>